.TodoList {
    margin: 32px auto;
    width: 50%;
    background-color: rgba(85, 116, 249, 0.89);
    color: white;
    padding: 2px 32px 32px;
}

p#subTitle {
    position: relative;
    top: -20px;
}

hr {
    margin-top: 8px;
    position: relative;
    top: -10px;
    background-color: rgba(128, 146, 226, 0.4);
    border: 0;
    height: 2px;
}
