.fas{
    font-size: 14rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 4rem;
    color: rgb(207, 207, 207);
}

.shaking {
	-webkit-animation: rotate-center 1s ease-out both;
	        animation: rotate-center 1s ease-out both;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
