.dice {
    margin-bottom: 4rem;
    font-size: 14rem;
    margin-top: 4rem;
    color: rgb(32, 73, 255);
}

button {
    background-color: rgb(85, 255, 85); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5rem;
}